.vscode
src/a.exe
a.exe
src/openal32.dll
src/sfml-audio-2.dll
src/sfml-audio-d.dll
src/sfml-audio-d-2.dll
src/sfml-graphics-2.dll
src/sfml-graphics-d-2.dll
src/sfml-graphics-d-2.dll
src/sfml-system-2.dll
src/sfml-system-d-2.dll
src/sfml-window-2.dll
src/sfml-window-d-2.dll